In [1]:
import pandas as pd
import numpy as np
import requests

In [5]:
drivers = {'season': [],
           'driver_id': [],
          'name': [],
          'surname': [],
          'date_of_birth': [],
          'nationality': []}

for year in list(range(1950,2020)):
    
    url = 'http://ergast.com/api/f1/{}/drivers.json'
    r = requests.get(url.format(year))
    json = r.json()

    for item in json['MRData']['DriverTable']['Drivers']:
        try:
            drivers['season'].append(int(json['MRData']['DriverTable']['season']))
        except:
            drivers['season'].append(None)

        try:
            drivers['driver_id'].append(item['driverId'])
        except:
            drivers['driver_id'].append(None)
                                         
        try:
            drivers['name'].append(item['givenName'])
        except:
            drivers['name'].append(None)
                
        try:
            drivers['surname'].append(item['familyName'])
        except:
            drivers['surname'].append(None)
                                         
        try:
            drivers['date_of_birth'].append(item['dateOfBirth'])
        except:
            drivers['date_of_birth'].append(None)
            
        try:
            drivers['nationality'].append(item['nationality'])
        except:
            drivers['nationality'].append(None)
            
drivers = pd.DataFrame(drivers)
print(drivers.shape)

(1965, 6)

In [6]:
drivers.head()

   season     driver_id     name       surname date_of_birth nationality
0    1950          ader     Walt          Ader    1913-12-15    American
1    1950    agabashian     Fred    Agabashian    1913-08-21    American
2    1950        ascari  Alberto        Ascari    1918-07-13     Italian
3    1950         banks    Henry         Banks    1913-06-14    American
4    1950  bettenhausen     Tony  Bettenhausen    1916-09-12    American

In [7]:
drivers.tail()

      season       driver_id       name     surname date_of_birth nationality
1960    2019         russell     George     Russell    1998-02-15     British
1961    2019           sainz     Carlos       Sainz    1994-09-01     Spanish
1962    2019          stroll      Lance      Stroll    1998-10-29    Canadian
1963    2019  max_verstappen        Max  Verstappen    1997-09-30       Dutch
1964    2019          vettel  Sebastian      Vettel    1987-07-03      German

In [9]:
drivers['full_name'] = drivers.name + ' ' + drivers.surname

In [10]:
drivers

,season,driver_id,name,surname,date_of_birth,nationality,full_name
0,1950,ader,Walt,Ader,1913-12-15,American,Walt Ader
1,1950,agabashian,Fred,Agabashian,1913-08-21,American,Fred Agabashian
2,1950,ascari,Alberto,Ascari,1918-07-13,Italian,Alberto Ascari
3,1950,banks,Henry,Banks,1913-06-14,American,Henry Banks
4,1950,bettenhausen,Tony,Bettenhausen,1916-09-12,American,Tony Bettenhausen
...,...,...,...,...,...,...,...
1960,2019,russell,George,Russell,1998-02-15,British,George Russell
1961,2019,sainz,Carlos,Sainz,1994-09-01,Spanish,Carlos Sainz
1962,2019,stroll,Lance,Stroll,1998-10-29,Canadian,Lance Stroll
1963,2019,max_verstappen,Max,Verstappen,1997-09-30,Dutch,Max Verstappen
1964,2019,vettel,Sebastian,Vettel,1987-07-03,German,Sebastian Vettel

In [11]:
drivers.to_csv('drivers.csv', index = False)